
.sidebar{
    background-color: red;
    width: 20vw;

}
.sidebar{
    padding: 72px;
}
.main{
    background-color: yellow;
   
}
.container{

    display: flex;
    width: 80vw;

}